:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    overflow: hidden;
}

.hero-bg img {
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index: -1;
}

.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase-top img {
    width: 170px;
    margin-left: 2rem;
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 3rem;
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    padding: 0 2rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.1;
    margin: 0 0 1rem;
    max-width: 800px;
}

.showcase-content p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.showcase-content .ready-text {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.showcase-content .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.showcase-content input {
    /* flex: 1; */
    min-width: 350px;
    height: 55px;
    /* Match button height roughly */
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(2px);
}

.showcase-content input::placeholder {
    color: #ccc;
}


/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-lg {
    font-size: 1.5rem;
    padding: 0.8rem 1.6rem;
    text-transform: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 4px;
}


/* Responsive */
@media (max-width: 960px) {
    .showcase-top img {
        width: 120px;
        margin-left: 1rem;
    }

    .showcase-content h1 {
        font-size: 2.5rem;
    }

    .showcase-content input {
        min-width: 0;
        width: 100%;
        max-width: 400px;
        flex: auto;
    }

    .btn-lg {
        width: auto;
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .showcase-content h1 {
        font-size: 2rem;
    }

    .showcase-content p {
        font-size: 1.2rem;
    }

    .input-group {
        flex-direction: column;
    }

    .btn-lg {
        margin-top: 10px;
    }
}